#Agility,
#Awareness,
#Brawn,
#Coordination,
#Intelligence,
#Personality,
#Willpower {
    display: inline-block;
}

.attribute-container {
    display: inline-block;
    width: 275px;
    background-color: white;
    color: black;
    padding: 4px;
    margin: 2px;
    text-align: left;
}

.attribute-value {
    display: inline-block;
    background-color: #41450a;
    color: white;
    padding: 4px;
    width: 100px;
    text-align: center;
    margin: 2px;
}

.attribute-points {
    font-size: 14px;
    text-shadow: 1px 1px 1px #333;
}

@media screen and (min-width: 0px) and (max-width: 800px) {
    .attribute-container {
        width: 150px;
    }
}