@font-face {
  font-family: 'roman_antiqueregular';
  src: url('../fonts/romanantique-webfont.woff2') format('woff2'),
    url('../fonts/romanantique-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid white;

  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);

  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.arrow-left {
  transform: rotate(-180deg);
}

body {
  width: 100%;
  height: 100%;
  zoom: 1;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: roman_antiqueregular;
  padding: 0;
  margin: 0;
}

.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

.dl-horizontal dt {
  white-space: normal;
}

input,
textarea {
  max-width: 280px;
  color: black !important;
  box-sizing: border-box;
}

select {
  display: block;
  max-width: 280px;
  width: 280px;
  color: white;
  background-color: #5f643e;
  padding: 5px;
}

input[type='radio'],
input[type='checkbox'] {
  width: 23px;
  height: 23px;
  border: 2px solid #5f643e;
  border-radius: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}
input[type='radio']:checked,
input[type='checkbox']:checked {
  background-color: #5f643e;
  border: 2px solid #5f643e;
}

input[type='radio']:focus,
input[type='checkbox']:focus {
  outline: 0;
}

a,
a:hover {
  color: #5f643e;
}

.content-container {
  width: 100%;
  max-width: 800px;
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.content {
  transition: margin-left linear 0.25s; /* should match .content-container-fullscreen transition */
}

.content-nudged {
  /*margin-left: 320px;*/ /* Should match width of sheet-container */
}

.desc-text {
  font-size: large;
  padding: 4px;
  font-weight: normal;
  text-align: justify;
}

.header-small {
  color: #5f643e;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  font-family: roman_antiqueregular;
  border-bottom: 1px solid rgba(95, 100, 62, 0.5);
}

.header-text {
  color: white;
  background-color: #5f643e;
  padding: 10px;
  font-size: 26px;
  font-weight: bold;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  font-family: roman_antiqueregular;
}

.logo-small,
.logo-large {
  cursor: pointer;
  user-select: none;
}

.logo-small {
  display: none;
}

.logo-large {
  position: absolute;
  width: 400px;
  margin-top: 10px;
  margin-left: 50%;
  transform: translateX(-200px);
}

.page-background {
  background-image: url(../img/bg_green.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#page-content {
  max-width: 800px;
  margin: auto;
}

.page-text {
  font-family: roman_antiqueregular;
  color: black;
  font-size: large;
  margin-top: 3px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding: 4px;
  font-weight: normal;
  text-align: center;
  max-width: 700px;
}

.page-title {
  color: white;
  background-color: rgba(32, 32, 32, 0.5);
  padding: 10px;
  font-size: 26px;
  font-weight: bold;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  font-family: roman_antiqueregular;
  text-shadow: 2px 2px 4px black;
  user-select: none;
  float: right;
}

.panel {
  color: black;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0px;
  padding: 5px;
}

.panel div {
  padding: 5px;
}

.shadow-box {
  box-shadow: 0px 0px 10px #000;
}

table.selection-list {
  width: 100%;
  border-collapse: collapse;
}
table.selection-list td {
  padding: 5px;
  border-bottom: 1px solid #5f643e;
}

table.aspect-list td:first-child {
  width: 50%;
}

.source-list {
  display: inline-block;
}

.source-list > div {
  display: inline-block;
  width: 235px;
  padding-top: 3px;
  margin-bottom: 5px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: #d6d6c6;
  border-radius: 4px;
}

.source-name,
.source-select {
  display: inline-block;
}
.source-name {
  transform: translate(5px, -8px);
}

.source-action {
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;
}
.source-action:hover {
  font-weight: bold;
}

.pdf-notice {
  color: red;
  font-weight: bold;
}

input.full-width {
  max-width: none;
  width: 100%;
}

@media screen and (min-width: 0px) and (max-width: 800px) {
  .desc-text {
    font-size: small;
  }

  .header-text {
    text-align: center;
    font-size: 14px;
  }

  .logo-large {
    display: none;
  }

  .logo-small {
    display: block;
    height: 50px;
    margin: 0px 0px 0px 5px;
  }

  .page-title {
    position: fixed;
    right: 0;
    top: 5px;
    padding: 5px;
  }

  .source-list > div {
    width: 150px;
  }

  table.selection-list td {
    font-size: x-small;
  }
}
